<h1>New stack</h1>

<form id="new-stack" name="stack">
  <div class="field">
    <label for="id"> id:</label>
    <input type="text" name="id" id="id" value="<%= id %>" >
  </div>

  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="hostname"> hostname:</label>
    <input type="text" name="hostname" id="hostname" value="<%= hostname %>" >
  </div>

  <div class="field">
    <label for="default_os"> default_os:</label>
    <input type="text" name="default_os" id="default_os" value="<%= default_os %>" >
  </div>

  <div class="field">
    <label for="default_az"> default_az:</label>
    <input type="text" name="default_az" id="default_az" value="<%= default_az %>" >
  </div>

  <div class="field">
    <label for="elbs"> elbs:</label>
    <input type="text" name="elbs" id="elbs" value="<%= elbs %>" >
  </div>

  <div class="field">
    <label for="instances"> instances:</label>
    <input type="text" name="instances" id="instances" value="<%= instances %>" >
  </div>

  <div class="field">
    <label for="layers"> layers:</label>
    <input type="text" name="layers" id="layers" value="<%= layers %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Stack" />
  </div>

</form>

<a href="#/index">Back</a>