<p>
  <b>Id:</b>
  <%= id %>
</p>

<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Hostname:</b>
  <%= hostname %>
</p>

<p>
  <b>Default os:</b>
  <%= default_os %>
</p>

<p>
  <b>Default az:</b>
  <%= default_az %>
</p>

<p>
  <b>Elbs:</b>
  <%= elbs %>
</p>

<p>
  <b>Instances:</b>
  <%= instances %>
</p>

<p>
  <b>Layers:</b>
  <%= layers %>
</p>


<a href="#/index">Back</a>