<td><%= id %></td>
<td><%= name %></td>
<td><%= hostname %></td>
<td><%= default_os %></td>
<td><%= default_az %></td>
<td><%= elbs %></td>
<td><%= instances %></td>
<td><%= layers %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>