<!DOCTYPE html>
<html ng-app="VisualizationApp">
<head>
  <title>OpsWorksVisualization</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato" %>
  <%= csrf_meta_tags %>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	   <!-- <link rel="icon" href="../../favicon.ico"> -->
  </head>

</head>
<body  ng-controller="StacksCtrl">


<%= yield %>

</body>
</html>
