<!DOCTYPE html>
<html ng-app="VisualizationApp">
<head>
  <title>OpsWorksVisualization</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato" %>
  <%= csrf_meta_tags %>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	   <!-- <link rel="icon" href="../../favicon.ico"> -->

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "bootstrap.min.css" %>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "starter-template.css" %>
  </head>

</head>
<body  ng-controller="StacksCtrl">

<!-- HEADER -->
<div class="navbar navbar-inverse navbar-fixed-top" id="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OpsWorks Visualization</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#about">Stacks (xxx TOFILL xxx)</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div><!--/.HEADER-->

<!-- SIDEBAR -->



<%= yield %>

</body>
</html>
