<!DOCTYPE html>
<html ng-app>
<head>
  <title>OpsWorksVisualization</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato" %>
  <%= csrf_meta_tags %>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	   <!-- <link rel="icon" href="../../favicon.ico"> -->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "bootstrap.min.css" %>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "starter-template.css" %>
  </head>

</head>
<body>

<%= yield %>

</body>
</html>
